@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

:root {
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);

  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Black: hsl(234, 17%, 12%);
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  font-size: 14px;
  background-color: var(--Very-dark-blue);
  background-image: url(../images/bg-stars.svg);
  background-size: cover;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-body input {
width: 50%;
}

.counter-title {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  color: var(--White);
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.counter-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 40vh;
}

.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.counter {
  padding: 1rem 0.5rem 1rem 0.5rem;
  background-color: var(--Dark-desaturated-blue);
  color: var(--Soft-red);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  width: 5.5rem;
}

.label {
  color: var(--Grayish-blue);
  margin-top: 1rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

footer {
  width: 100%;
  background-image: url(../images/pattern-hills.svg);
  background-size: cover;
  position: absolute;
  top: 84.3%;
}

.socialmedia-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.pinterest {
  margin-left: 2rem;
}

.instagram {
  margin-left: 2rem;
}

.attribution {
  margin-top: 3rem;
  font-size: 11px;
  text-align: center;
  color: var(--White);
}
.attribution a {
  color: var(--Soft-red);
}

@media only screen and (max-width: 600px) {
  .counter-title {
    font-size: 1.5rem;
    letter-spacing: normal;
  }

  .counter-container {
    width: 20%;
  }

  .counter {
    font-size: 1.5rem;
    width: 3.5rem;
  }

  .label {
    font-size: 0.5rem;
  }
}
